* { box-sizing: border-box; }
body {
  background-image: linear-gradient(#1b1c1b,#343634,#2a2b2a,#343634,#1b1c1b);
  margin: 0;
}
.Megalo {
  display: grid;
}
.box {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-radius: 0.6em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  grid-column: 1;
  grid-row: 1/4;
  font-size: 8;
}

.img {
  grid-column: 2;
  grid-row: 1/3;
}
.stat {
  grid-column: 3;
  grid-row: 1;
}
.sound {
  color: white;
  grid-column: 3;
  grid-row: 2;
}

.box-head {
  text-align: center;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  color: white;
  background-color: white;
  margin-bottom: 3em;
  margin-left: 15em;
  margin-right: 15em;
  border-bottom: 8px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  top: 0em;
  z-index: 3;
  padding: 0.1em;
}

.header-box {
  border-bottom: thin solid;
  text-align: center;
  padding: 0.5em;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  font-weight: bold;
}

.body-box {
  padding: 0.5em;
}

.body-box-title {
  padding: 0.5em;
}

.body-box-image {
  font-size: 3em;
}

.Dragonite-box {
  color: #1cb5fc;
  position: relative;
  background-color: #fad869;
}

.Dragonite-box > .header-box {
  background-color: #f5cd49;
}

.Tyranitar-box {
  color: #010a00;
  position: relative;
  background-color: #7cb876;
}

.Tyranitar-box > .header-box {
  background-color: #669960;
}

.Salamence-box {
  color: #1a568f;
  background-color: #d16d6b;
}

.Salamence-box > .header-box {
  background-color: #b83632;
}

.Metagross-box {
  color: #616161;
  background-color: #8aadb8;
}

.Metagross-box > .header-box {
  background-color: #698a94;
}

.Garchomp-box {
  color: #cfcf42;
  background-color: #2c429c;
}

.Garchomp-box > .header-box {
  background-color: #14235e;
}

.Hydreigon-box {
  color: #1f74c4;
  background-color: #1a1d1f;
}

.Hydreigon-box > .header-box {
  background-color: #060a0d;
}

.Goodra-box {
  color: #3a6e34;
  background-color: #c189c9;
}

.Goodra-box > .header-box {
  background-color: #c160c4;
}

.Kommo-o-box {
  color: #6e6e69;
  background-color: #dbdb86;
}

.Kommo-o-box > .header-box {
  background-color: #d1d11d;
}
.anim {

}

/* ANIMACIONES */

.anim {
  grid-column: 2;
  grid-row: 3;
}

.a-dragonite-n {
  background-image: url("Imagenes/a-dragonite-n.png");
  width: 85px;
  height: 98px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: dragonite 2s steps(44) infinite;
}
.a-dragonite-s {
  background-image: url("Imagenes/a-dragonite-s.png");
  width: 85px;
  height: 98px;
  position: relative;
  left: 250px;
  transform: scale(1.2, 1.2);

  animation: dragonite 2s steps(44) infinite;
}

.a-tyranitar-n {
  background-image: url("Imagenes/a-tyranitar-n.png");
  width: 75px;
  height: 101px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: tyranitar 2s steps(60) infinite;
}
.a-tyranitar-s {
  background-image: url("Imagenes/a-tyranitar-s.png");
  width: 75px;
  height: 101px;
  position: relative;
  left: 250px;
  transform: scale(1.2, 1.2);

  animation: tyranitar 2s steps(60) infinite;
}

.a-salamence-n {
  background-image: url("Imagenes/a-salamence-n.png");
  width: 137px;
  height: 92px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: salamence 2s steps(59) infinite;
}
.a-salamence-s {
  background-image: url("Imagenes/a-salamence-s.png");
  width: 137px;
  height: 92px;
  position: relative;
  left: 270px;
  transform: scale(1.2, 1.2);

  animation: salamence 2s steps(59) infinite;
}

.a-metagross-n {
  background-image: url("Imagenes/a-metagross-n.png");
  width: 142px;
  height: 73px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: metagross 2s steps(79) infinite;
}
.a-metagross-s {
  background-image: url("Imagenes/a-metagross-s.png");
  width: 142px;
  height: 73px;
  position: relative;
  left: 300px;
  transform: scale(1.2, 1.2);

  animation: metagross 2s steps(79) infinite;
}

.a-garchomp-n {
  background-image: url("Imagenes/a-garchomp-n.png");
  width: 115px;
  height: 108px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: garchomp 2s steps(59) infinite;
}
.a-garchomp-s {
  background-image: url("Imagenes/a-garchomp-s.png");
  width: 115px;
  height: 108px;
  position: relative;
  left: 250px;
  transform: scale(1.2, 1.2);

  animation: garchomp 2s steps(59) infinite;
}

.a-hydreigon-n {
  background-image: url("Imagenes/a-hydreigon-n.png");
  width: 137px;
  height: 130px;
  position: relative;
  left: 100px;
  top:-20px;
  transform: scale(1.2, 1.2);

  animation: hydreigon 2s steps(85) infinite;
}
.a-hydreigon-s {
  background-image: url("Imagenes/a-hydreigon-s.png");
  width: 137px;
  height: 130px;
  position: relative;
  left: 250px;
  top:-20px;
  transform: scale(1.2, 1.2);

  animation: hydreigon 2s steps(85) infinite;
}

.a-goodra-n {
  background-image: url("Imagenes/a-goodra-n.png");
  width: 60px;
  height: 102px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: goodra 2s steps(59) infinite;
}
.a-goodra-s {
  background-image: url("Imagenes/a-goodra-s.png");
  width: 60px;
  height: 102px;
  position: relative;
  left: 250px;
  transform: scale(1.2, 1.2);

  animation: goodra 2s steps(59) infinite;
}

.a-kommo-o-n {
  background-image: url("Imagenes/a-kommo-o-n.png");
  width: 89px;
  height: 95px;
  position: relative;
  left: 100px;
  transform: scale(1.2, 1.2);

  animation: kommo-o 2s steps(58) infinite;
}
.a-kommo-o-s {
  background-image: url("Imagenes/a-kommo-o-s.png");
  width: 89px;
  height: 95px;
  position: relative;
  left: 250px;
  transform: scale(1.2, 1.2);

  animation: kommo-o 2s steps(58) infinite;
}

@keyframes dragonite {
  100% {
    background-position: -3740px;
    }
}
@keyframes tyranitar {
  100% {
    background-position: -4500px;
    }
}
@keyframes salamence {
  100% {
    background-position: -8083px;
    }
}
@keyframes metagross {
  100% {
    background-position: -11218px;
    }
}
@keyframes garchomp {
  100% {
    background-position: -6785px;
    }
}
@keyframes hydreigon {
  100% {
    background-position: -11645px;
    }
}
@keyframes goodra {
  100% {
    background-position: -3540px;
    }
}
@keyframes kommo-o {
  100% {
    background-position: -5162px;
    }
}


/* Diferentes tamaños de pantalla */

@media only screen and (max-width: 1600px) {

  .box-head {
    margin-left: 3em;
    margin-right: 3em;
  }
  .img {
    grid-column: 2;
    grid-row: 1;
  }
  .stat {
    grid-column: 2;
    grid-row: 2;
  }
  .box {
    grid-column: 1;
    grid-row: 1/5;
  }
  .sound {
    grid-column: 2;
    grid-row: 3;
  }
  .anim {
    grid-column: 2;
    grid-row: 4;
  }
}

@media only screen and (max-width: 1000px) {
  .box-head {
    margin-left: 3em;
    margin-right: 3em;
  }
  .img {
    grid-column: 1;
    grid-row: 2;
  }
  .stat {
    grid-column: 2;
    grid-row: 2;
  }
  .box {
    grid-column: 1/3;
    grid-row: 1;
  }
  .sound {
    grid-column: 2;
    grid-row: 3;
  }
  .anim {
    grid-column: 1;
    grid-row: 3;
  }
}
